# This is Git's per-user configuration file.
[user]
	name = lemo7242
	email = leon.moll@esolutions.de
[push]
	default = current
[pull]
	rebase = true
[alias]
  lol = log --decorate --oneline
  lob = log --decorate --oneline --decorate-refs-exclude='/refs/tags/*'
  lola = log --decorate --oneline --graph --all
  loba = log --decorate --oneline --graph --decorate-refs-exclude='refs/tags/*' --all
	lolu = log  --graph --date=format:\"%Y.%m.%d %H:%m\" --format=\"%C(auto)%h %cd %C(blue)%ae%Creset %C(auto)%D%Creset %s\"
	lobu = log  --graph --date=format:\"%Y.%m.%d %H:%m\" --format=\"%C(auto)%h %cd %C(blue)%ae%Creset %C(auto)%D%Creset %s\" --decorate-refs-exclude='/refs/tags/*'
  st = status -s
  hilfe = "!echo 'Possible eso commands: git update (update upstream and rebase), git new (create new branch), git save (add and commit), git upload (rebase and push), git delete (delete everything) and git destory (force delete everything)'"
  save    = "!f(){ echo "$ $@";"$@";}; f "git add ." && f "git commit""
  upload  = "!f(){ echo "$ $@";"$@";}; f "git fetch --prune" && f "git rebase -i origin/master" && f "git push origin HEAD""
  delete  = "!f(){ echo "$ $@";"$@";}; echo "Deleting branch \\'$1\\' locally and from the remote..." && f "git branch -d $1" && f "git push origin :$1" || echo "...or use the alias \\'git destroy $1\\' "; :"
  destroy = "!f(){ echo "$ $@";"$@";}; echo "Deleting branch \\'$1\\' locally and from the remote..." && f "git branch -D $1" && f "git push origin :$1"; :"
  taskset = "!echo > ~/.current_task"
  taskammend = "!git commit -a --amend -m \"$(git log -1 --format=\"%s%n%n%b\")$(echo \"\\n\\nid:$(cat ~/.current_task)\")\""
  abandon = "! git branch -d $(git rev-parse --abbrev-ref @{-1})"
[url "https://bitbucket.eso.local/scm/mib3-rsi/"]
  insteadOf = https://group-cip.audi.de/stash/scm/rsi/
  insteadOf = https://group-cip.audi.de/stash/scm/rsitools/
[core]
	autocrlf = input
[http "https://bitbucket.eso.local"]
	sslCAInfo = /home/lemo7242/.esocert
[credential]
	helper = cache --timeout=604800
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[lfs]
	contenttype = 0
[mergetool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[diff]
  tool = nvimdiff
