# This is Git's per-user configuration file.
[user]
	name = leonschreuder
	email = leon.schreuder@protonmail.com
[push]
	default = current
[pull]
	rebase = true
[color "decorate"]
  head = red bold
  branch = green bold
  tag = cyan bold
  remoteBranch = blue
[alias]
  lol = log --decorate --oneline  --format=\"%C(dim)%h %C(auto)%D%Creset %s\"
  lola = lol --graph --all
  lolq = lol --graph --decorate-refs='refs/heads/*' --format=\"%C(dim)%h %C(auto)%D%Creset %s\"
  lolqa = lolq --all
  lole = log --stat --date=format:\"%Y.%m.%d %H:%m\" --format=\"%C(dim)%h%C(auto) %C(auto)%D%C(reset)%n %C(bold)%s%C(auto) %C(dim)cd:%cd ad:%ad %C(reset)%C(blue)%ae%Creset\"
  lolea = lole --graph --all
  lolu = log  --graph --date=format:\"%Y.%m.%d %H:%m\" --format=\"%C(auto)%h %cd %C(blue)%ae%Creset %C(auto)%D%Creset %s\"
  lolua = lolu --all
  st = status -s
  upload  = "!f(){ echo "$ $@";"$@";}; f "git fetch --prune" && f "git rebase -i origin/master" && f "git push origin HEAD""
  bothrename  = "!f(){ echo "$ $@";"$@";}; echo "Renaming local and remote branches to \\'$1\\'." && f "git push origin --delete $(git rev-parse --abbrev-ref HEAD 2> /dev/null)" && f "git branch -m $1" && git push -u; :"
  bothdelete  = "!f(){ echo "$ $@";"$@";}; echo "Deleting local and remote branches for \\'$1\\'." && f "git branch -d $1" && f "git push origin --delete $1" || echo "...or use the alias \\'git bothdeleteforce $1\\' "; :"
  bothdeleteforce = "!f(){ echo "$ $@";"$@";}; echo "Deleting branch \\'$1\\' locally and from the remote..." && f "git branch -D $1" && f "git push origin :$1"; :"
  taskset = "!echo > ~/.current_task"
  taskammend = "!git commit -a --amend -m \"$(git log -1 --format=\"%s%n%n%b\")$(echo \"\\n\\nid:$(cat ~/.current_task)\")\""
  abandon = "! git branch -d $(git rev-parse --abbrev-ref @{-1})"
  dropMerged    = "!f(){ echo "$ $@";"$@";}; f "git checkout master" && f "git pull --prune" && f "git branch -d $(git rev-parse --abbrev-ref @{-1})""
  gonelist = !git for-each-ref --format \"%(refname:short) %(upstream:track)\" refs/heads | grep -F \" [gone]\" | cut -d\" \" -f1
  gonedelete = "!tmp=\"$(mktemp)\" && git gonelist >$tmp && nvim $tmp && < $tmp xargs git branch -d"
[url "https://bitbucket.eso.local/scm/mib3-rsi/"]
  insteadOf = https://group-cip.audi.de/stash/scm/rsi/
  insteadOf = https://group-cip.audi.de/stash/scm/rsitools/
[core]
	autocrlf = input
[http "https://bitbucket.eso.local"]
	sslCAInfo = /home/lemo7242/.esocert
[credential]
	helper = cache --timeout=604800
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[lfs]
	contenttype = 0
[mergetool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[diff]
  tool = nvimdiff
[credentialCache]
	ignoreSIGHUP = true
[init]
	defaultBranch = main
