" How to:
" - Install IdeaVim trough plugins
" - Install "Relative Line Numbers" plugin

" This plugin system is builtin
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'
Plug 'machakann/vim-highlightedyank'
Plug 'easymotion/vim-easymotion' " requires IdeaVim-EasyMotion and AceJump plugins

let mapleader = " "

map <leader>w <C-W>
map <leader>h <C-W>h
map <leader>j <C-W>j
map <leader>k <C-W>k
map <leader>l <C-W>l

map <leader>ul <Action>(Run)
map <leader>ub <Action>(MakeGradleProject)

map <leader>t <Action>(SearchEverywhere)
map gt <Action>(GotoTest)
map gd <Action>(GotoDeclaration)
map gi <Action>(GotoImplementation)
map ]w <Action>(NextTab)
map [w <Action>(PreviousTab)
map ,d <Action>(QuickJavaDoc)
imap <C-,>d <C-o><Action>(QuickJavaDoc)
map ,p <Action>(ParameterInfo)
imap <C-,>p <C-o><Action>(ParameterInfo)
map ,f <Action>(FindUsages)

" map ,c <Action>(ShowIntentionActions)
map ,e <Action>(ShowErrorDescription)


map <leader>rr <Action>(RenameElement)
" map <leader>rm <Action>(ExtractMethod)
map <leader>rm <Action>(ShowIntentionActions)
map <leader>rf <Action>(ExtractFunction)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rc <Action>(ChangeSignature)
map <leader>ri <Action>(Inline)
map <leader>rg <Action>(Generate)

noremap <C-j> 3<C-e>
noremap <C-k> 3<C-y>
noremap <C-h> 10zh
noremap <C-l> 10zl

map <Leader> <Plug>(easymotion-prefix)

" not implemented yet. See https://github.com/JetBrains/ideavim/pull/86
" map gc <Action>(CommentByLineComment)

set visualbell
set noerrorbells
set surround
set commentary

map <leader>;f <Action>(ReformatCode)
map <leader>e <Action>(ActivateRunToolWindow)


map <leader>wh <Action>(HideAllWindows)

" map <leader>n <Action>(ActivateProjectToolWindow)
map <leader>n :NERDTreeToggle<CR>
map <leader>N :NERDTreeFind<CR>


"   :actionlist [pattern]
"       Find IDE actions by name pattern
"   :action {name}
"       Execute action in intellij
"   <Action>({name})
"       Use in mapping

