
let mapleader = " "

map <leader>w <C-W>
map <leader>h <C-W>h
map <leader>j <C-W>j
map <leader>k <C-W>k
map <leader>l <C-W>l

map <leader>ul :action Run<CR>
map <leader>t :action SearchEverywhere<CR>
map ,t :action GotoTest<CR>
map ]w :action NextTab<CR>
map [w :action PreviousTab<CR>

" not implemented yet. See https://github.com/JetBrains/ideavim/pull/86
" map gc :action CommentByLineComment<CR>

set visualbell
set noerrorbells
set surround

noremap <leader>;f :action ReformatCode
noremap <leader>n :action ActivateProjectToolWindow<CR>
noremap <leader>e :action ActivateRunToolWindow<CR>

noremap <leader>wh :action HideAllWindows<CR>


"   :actionlist [pattern]
"       Find IDE actions by name pattern
"   :action {name}
"       Execute an action named NAME

