
let mapleader = " "

map <leader>w <C-W>
map <leader>h <C-W>h
map <leader>j <C-W>j
map <leader>k <C-W>k
map <leader>l <C-W>l

map <leader>ul :action Run<CR>
map <leader>t :action SearchEverywhere<CR>
map ,t :action GotoTest<CR>
map ,i :action GotoImplementation<CR>
map ]w :action NextTab<CR>
map [w :action PreviousTab<CR>
noremap ,d :action QuickJavaDoc<CR>
inoremap <C-,>d <C-o>:action QuickJavaDoc<CR>
noremap ,p :action ParameterInfo<CR>
inoremap <C-,>p <C-o>:action ParameterInfo<CR>
noremap ,f :action FindUsages<CR>

noremap <leader>rr :action RenameElement<CR>
noremap <leader>rm :action ExtractMethod<CR>
noremap <leader>rv :action IntroduceVariable<CR>
noremap <leader>rs :action ChangeSignature<CR>
noremap <leader>ri :action Inline<CR>
noremap <leader>rg :action Generate<CR>


" not implemented yet. See https://github.com/JetBrains/ideavim/pull/86
" map gc :action CommentByLineComment<CR>

set visualbell
set noerrorbells
set surround

noremap <leader>;f :action ReformatCode<CR>
noremap <leader>n :action ActivateProjectToolWindow<CR>
noremap <leader>e :action ActivateRunToolWindow<CR>


noremap <leader>wh :action HideAllWindows<CR>


"   :actionlist [pattern]
"       Find IDE actions by name pattern
"   :action {name}
"       Execute an action named NAME

